{
    # Global options
    admin off
}

# If DOMAIN is set (e.g. workmate-api.amanydv.in), Caddy automatically provisions HTTPS.
# If DOMAIN is omitted, it defaults to HTTP on port 80.
{$DOMAIN::80} {
    encode zstd gzip

    handle {
        reverse_proxy backend:4000
    }
}

